/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}


.main_container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section_title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card_title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral_star {
    color: var(--main-bg-color)
}


/* Header */

.logo_and_menu {
    width: 100%;
    height: 79px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#logo {
    width: 61px;
    height: 19px;
}


nav {
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px;
}

li {
    padding-top: 16px;
    margin-left: 58px;
    list-style-type: none;
    height: 60%;

}

li:hover {
    border-top: 2px solid #0065FC;
}


.blue:hover {
    color: #0065FC;
}

/* Form and filter */

.no_margin {
    margin: 0px;
}

.form_filter {
    display: grid;
    gap: 35px;
}

#title_h1 {
    font-size: 22px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 8px;
}

button {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 16px;
}

#btn_desktop {
    height: 100%;
}

#btn_mobile {
    display: none;
    padding: 15px 16px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
}

#placeholder_form {
    border: 1px solid #F2F2F2;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.title_filter {
    font-size: 18px;
    font-weight: bold;
}

.text_filter {
    font-size: 17px;
    font-weight: bold;

}

.details_filter {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;


}

.details_filter:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;

}

/****** Hebergements And Populaires ***********/
.hebergements_and_populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements_and_populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card_subtitle {
    font-size: 14px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements_activities_title {
    display: flex;
}

.hebergements .hebergements_cards {
    margin-top: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;

}

.hebergements_cards .card_subtitle {
    margin: 0px;
}

.hebergements_cards .card_txt {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 3px;
    gap: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.hebergements_cards img {
    width: 100%;
    height: 120px;
    border-radius: 16px 16px 0px 0px;

}

.hebergements_cards .card_content {
    display: flex;
    gap: 12px;

}

.hebergements_cards .card_title {
    margin: 0px;
}

.title_h4 {
    font-size: 18px;
    margin: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires_cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires_cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires_cards .card_content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires_cards .card_title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires_cards .card_subtitle {
    margin: 0;
}

.populaires_cards .card_rating {
    margin-bottom: 5px;
}

/* Activities */

.activities {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activities_flex {
    flex: 1;
}


.activities {
    padding: 26px 31px;
}

.activities .card {
    padding: 0px 0px 5px 0px;
}

.activities_cards {
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.activities_cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;

}

.activities_cards .card_txt {
    padding-left: 12px;
}

/* Footer */

.footer {
    background-color: var(--main-bg-color);
    padding: 29px 0px 30px 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}


.footer_items {
    display: flex;
    flex-direction: column;
    gap: 14px;
}



/****** Media queries ***********/

/* Desktop */

@media (max-width: 1440px) and (min-width: 320px) {}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2px;
    }

    .title_filter {
        margin-top: 0px;
    }

    .text_filter {
        font-size: 16px;
    }

    .hebergements_and_populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements_cards img {
        height: 110px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires_cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 106%;
    }

    .populaires_cards a {
        width: 30%;
    }

    .populaires_cards .card_title {
        font-size: 14px;
    }

    .populaires_cards .card_subtitle {
        font-size: 13px;
    }

    .activities {
        margin-top: 40px;
    }

    .activities_cards img {
        height: 200px;
    }


}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* header */

    .main_container {
        width: 100%;
        padding: 0px;
    }

    ul {
        padding: 0;
        margin-top: 10px;
    }

    li {
        margin: 0;
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
    }

    li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }


    .logo_and_menu {
        margin-top: 30px;
        flex-direction: column;
    }


    nav {
        width: 100%;
    }

    /* Form and filters */


    .form_filter {
        padding-left: 20px;
        padding-right: 20px;
    }

    #placeholder_form {
        padding-right: 19px;
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .title_filter {
        margin-top: 0px;
    }


    .text_filter {
        font-size: 14px;
    }

    .details_filter {
        flex: 1;
    }

    #btn_desktop {
        display: none;
    }

    #btn_mobile {
        display: flex;
        padding: 15px 16px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid var(--Blue, #0065FC);
    }

    .btn {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    #btn_mobile {
        position: absolute;
        left: -12px;
    }

    .info {
        margin-bottom: 35px;
    }

    .hebergements_and_populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }


    .hebergements_and_populaires .hebergements {
        background-color: white;
    }

    .hebergements .hebergements_cards {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15px;
        gap: 15px;
    }

    .hebergements_cards a {
        object-fit: cover;
    }

    .hebergements_cards img {
        height: 111px;
    }

    .hebergements_and_populaires section {
        border-radius: 0px;
        padding: 20px;
    }

    .populaires {
        margin-top: 0px;
    }

    .populaires_cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires_title {
        margin-bottom: 15px;
    }

    .populaires_cards .card {
        margin-top: 0px;
    }

    .populaires_cards a {
        width: 100%;
    }


    .activities {
        padding: 30px 31px;
    }

    .activities .activities_cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .activities_flex .card {
        padding: 0px 0px 8px 0px;
    }

    .activities_cards img {
        height: 143px;

    }

    .activities_flex {
        width: 100%;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}